.map-box{
  width: calc(100% + 48px);
  height: calc(100% + 48px);
  position: absolute;
  top: -24px;
  left: -24px;

  .map{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  #wind{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
  }

  .control{
    width: auto;
    height: auto;
    position: absolute;
    top: 12px;
    left: 12px;
    z-index: 2;
  }

  .ant-radio, .ant-radio-group, .ant-radio-wrapper{
    color: #fff !important;
  }
}
