<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="cesium" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/cesium/gis">地图</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/cesium/icon">点位</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/cesium/line">画线</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/cesium/gon">画面</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/cesium/wind">风场</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/cesium/eem">鹰眼图</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a routerLink="/pages/cesium/car-track">车辆轨迹</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
